.about {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 56px;
  padding: 80px 80px 61px 104px;
}
.about__image {
  width: 464px;
  height: 464px;
  object-fit: cover;
  border-radius: 1000px;
}
.about__content {
  max-width: 600px;
  text-align: left;
}
.about__title {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgba(26, 27, 34, 1);

  margin: 0 0 16px;
  text-align: center;
  text-align: start;
}
.about__paragraphs {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-overflow: ellipsis;
  max-width: 600px;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about__image {
    width: 232px;
    height: 232px;
    border-radius: 1000px;
  }
  .about {
    gap: 32px;
    padding: 32px 16px 128px;
  }
  .about__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 520px) {
  .about__image {
    width: 272px;
    height: 272px;
    border-radius: 1000px;
    margin: 32px 24px 24px 24px;
  }
  .about__paragraphs {
    margin-top: 16px;
  }
  .about {
    flex-direction: column;
  }
  .about__title {
    font-size: 30px;
    padding: 24px 16px 16px 16px;
  }
}
