.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  color: #fff;
  background-image: url(../assets/background-image.png);
  padding: 0 0 28px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__saved-articles {
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid rgba(209, 210, 214, 1);
  padding: 0;
}
.header__btns {
  display: flex;
  gap: 19px;
  align-items: center;
  margin-left: auto;
  border-radius: 16px;
}
.header__logo {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  vertical-align: middle;
}
.header__links {
  display: flex;
  align-self: stretch;
  gap: 34px;
  align-items: center;
  margin-right: 0;
  padding: 0px 104px;
  height: 80px;
  background-color: transparent;
  color: white;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__links_theme_light {
  background-color: white;
  color: black;
}

.header__link {
  align-self: stretch;
  text-decoration: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 64px;
}

.header__link_active {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  height: 80px;
  margin-right: 66px;
}
.header__link_theme_light {
  border-color: black;
}
.header__btn {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  gap: 19px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 12px;
  width: 112px;
}
.header__signout_image {
  width: 24px;
}
.header__btn_theme_light {
  background-color: white;
  color: black;
  border-color: black;
}
.header__title {
  text-align: center;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 32px;
}

.header__text {
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 18px;
}
.header__menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0px 16px;
    background-size: cover;
  }
  .header__links {
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 0;
    height: auto;
  }
  .header__link,
  .header__link_active {
    margin: 0;
    height: auto;
    font-size: 16px;
    padding-bottom: none;
  }
  .header__btns {
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .header__btn {
    font-size: 16px;
    margin-top: 14px;
    margin-right: 40px;
    margin-bottom: 12px;
    margin-right: 16px;
  }
  .header__title {
    font-size: 36px;

    margin-bottom: 20px;
  }
  .header__text {
    font-size: 16px;
    padding: 0 10px;
  }
  .header__logo {
    margin: 22px auto 18px 40px;
  }
}
@media screen and (max-width: 530px) {
  .header__logo {
    margin: 16px auto 16px 16px;
  }
  .header__btns {
    display: none;
  }
  .header__menu-btn {
    background-image: url(../assets/menu-icon.svg);
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: block;
  }
  .header__menu_black {
    background-image: url(../assets/menu-icon-black.svg);
  }
}
