.modal {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}
.modal__close {
  position: absolute;
  background-image: url(../assets/close-icon.svg);
  top: -33px;
  right: -17px;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 13.54px;

  height: 22.36px;
  background-position: center;
  color: rgba(255, 255, 255, 1);
}
.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  border-radius: 16px;
  max-width: 430px;
  box-sizing: border-box;
  width: 430px;
  height: 380px;
  top: 147px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  gap: 8px;
  margin-bottom: 24px;
}
.modal__input {
  display: block;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700px;
  line-height: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
}
.modal__button-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}
.modal__primary-btn {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 1000px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(47, 113, 229, 1);
  color: white;

  padding: 20px;
  border: none;
}
.modal__secondary-btn {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 530px) {
  .modal__content {
    width: 100%;
  }
  .modal__close {
    top: -47px;
    right: 14px;
  }
}
