.saved__news_title_container {
  max-width: 680px;
  padding: 22px 40px 32px 40px;
}
.saved-news-keyword {
  font-weight: bold;
}

.saved__news-list {
  background-color: rgba(245, 245, 247, 1);
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0;

  justify-content: center;
  list-style-type: none;
}
.saved__news-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(26, 27, 34, 0.5);
}
.saved-news_articles {
  font-family: Roboto Salb, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: rgba(26, 27, 34, 1);
}
.saved-news_keywords {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(26, 27, 34, 1);
}
